
#home{
    background-color: #A3C7D6;
}
header .container{
    text-transform: capitalize;
    text-decoration-color: white;
    align-content: center;
    justify-content: space-between;
}
*{
    scroll-behavior: smooth;
    background-color: #3F3B6C;
}
h1,h2,h3,h4,h5,h6,p,span,td,a{
    cursor: pointer;
}
span{
    color:#9F73AB;
}
.nav-section{
    font-size: 22px;
    margin: 0px 8px;
}
.hero_section .row{
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;
}
.hero_section .row h1,h2,h3,p{
    color: aliceblue;
}
.hero_section .row h3{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}
.hero_section .row h3::after{
    content: "";
    position: absolute;
    text-align: center;
    top: 10px;
    width: 90px;
    height: 2px;
    background-color: aliceblue;
    margin-left: 6px;
}
.hero_section .row h1{
    font-size: 65px;
    font-weight: 800;
}
.hero_section .row h2{
    font-size: 20px;
    font-weight: 100;
    margin: 8px 0px;
}
.hero_section .row p{
    font-size: 13px;
    margin-top: 13px;
    line-height: 21px;
    color: aliceblue;
}
.hero_section .row button{
    border-radius: 10px;
    font-size: 19px;
    color:aliceblue;
    background-color: #9F73AB;
    border: 3px solid #9F73AB;
    width: 113px;
    font-family: 'poppins', sans-serif;
    margin-top: 10px;
}
.hero_section .row button:hover{
    animation: swing;
    animation-duration: 0.5s;
    background-color: #A3C7D6;
    color: black;
    border-color:#A3C7D6;
}
.hero_section .row img{
    width: 65%;
    height: 350px;
}
@media(max-width:1200px) and(min-width:320px){
    .hero_section .row h1{
        font-size: 58px;
    }
}
@media(max-width:993px) and(min-width:763px){
    .hero_section .row h1{
        font-size: 42px;
      }
    .hero_section .row h2{
        font-size: 15px;
      }
    .hero_section .row p{
        font-size: 11px;
      }
    .hero_section .row h3{
        font-size: 15px;
      }
    .hero_section .row{
        font-size: 15px;
      }
}
@media(max-width:763px) and(min-width:500px){
    .hero_section{
        margin: 55px 0px;
      }
    .hero_section .row h1{
        font-size: 46px;
        text-align: center;
      }
    .hero_section .row h2{
        font-size: 15px;
        text-align: center;
      }
    .hero_section .row p{
        font-size: 11px;
        text-align: center;
        margin-top: 0px;
      }
    .hero_section .btn-container{
        justify-content: center;
        text-align: center;
      }
    .hero_section .row h3{
        font-size: 18px;
        text-align: center;
      }
    .hero_section .row h3::after{
        width: 0px;
      }
    .hero_section .btn-container button{
        width:100px;
        height: 43px;
        font-size: 15px;
        text-align: center;
    }
    .hero_section .row img{
        width: 45%;
        margin-top: 20px;  
    }
}
.about_section img {
    border-radius: 1rem;
    margin-bottom: 2rem;
    
 }
 
    @media screen and (min-width: 1024px) {
       .about_section img {
          width: 15.5rem;
          height: auto;
          text-align: center;
       }
 }
.about_section{
    padding:170px 0px;
}
.about_section #heading #subtitle{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 57px; 
}
.about_section .about_me_right_section #txt{
    font-size: 15px;
    margin-top: 13px;
    line-height: 25px;
    color: #fff;
}
.about_section .about_me_right_section tr{
    margin: 0px;
    border: 0.5px ;
    width: 6px;
}
.about_section .about_me_right_section .table td{
    border: none;
    color: aliceblue;
}
.about_section .about_me_right_section button{
    border-radius: 7px;
    font-size: 15px;
    color: aliceblue;
    background-color: #9F73AB;
    border: 3px solid #9F73AB;
    margin-top: 10px;
}
.about_section .about_me_right_section button:hover{
    animation: swing;
    animation-duration: 0,5s;
}
@media(max-width:993px) and (min-width:200px){
.about_section .about-content .description{
    font-size: 12px;
}
.about_section .about-content .title{
    font-size: 27px;
}
}
@media(max-width:500px) and (min-width:200px){
.about_section .about-content{
    padding-top: 20px;
}
}
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white;
}

.html {width: 70%; background-color: #A3C7D6;} 
.css {width: 80%; background-color: #A3C7D6;} 
.js {width: 50%; background-color: #A3C7D6;}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
    color: #9F73AB;
}
.fab {
    color: aliceblue;
}
.testimonials{
    margin: 50px auto;
}
.testimonials h1{
    text-align: center;
    font-weight: bold;
    color:black ;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after{
    content: '';
    background: #3F3B6C;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.testimonials .row{
    margin-top: 30px;
}
.col-lg-6{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 5px solid white;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #A3C7D6;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content:'\201D';
    font-size: 50px;
    position: relative;
    color: #9F73AB;
    line-height: 20px;
    bottom:-15px;
    right: 5px;
}
blockquote::after{
    content:'\201C';
    font-size: 50px;
    position: relative;
    color: #9F73AB;
    line-height: 10px;
    bottom:-15px;
    left: 5px;
}
.profile :hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}


/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}